<div class="card" aria-label="Tech Suggestion Card">
    <div class="card">
        <div class="card-header" aria-label="tech suggestion card Title">
            <label id="techsuggestioncardlabel"> Didn't Find What You Were Looking For? </label>
        </div>
        <h2 style="text-align: center; margin-top: 20px; font-size: larger; padding-right: 2%; padding-left: 2%;">
            <strong style="color: #0076CE;">Was your diverse ability not listed above?</strong>
        </h2>
        <p style="text-align: start; font-size: larger; padding-right: 2%; padding-left: 2%;" 
            name="tech suggestion description">
            <br/><br/>
            Please use this form to submit suggestions of new Assistive Technology for review by our team.
            <br/>
            This form is completely anonymous, if you wish to be contacted, your information will only be used for the improvement of this catalog.
        </p>
        <div class="flex-end">
            <form action="https://inside.dell.com/community/active/assistive-technology/pages/technology-suggestion"
                target="_blank">
                <button id="techsuggestionbutton">
                    Technology Suggestion Form
                </button>
            </form>
        </div>
    </div>
</div>