div.card-header {
    text-align: center;
    font-weight: bold;
    font-size: larger;
    font-weight: bolder;
}
label {
    font-size: larger;
    font-weight: bolder;
}
a {
    text-decoration: none;
    font-weight: bold;
}
#pipe {
    font-size: larger;
    font-weight: bolder;
}