<div class="card" aria-label="Help Card">
    <div class="card">
        <div class="card-header" aria-label="help card Title">
            <label id="helpcardlabel"> Need Help? </label>
        </div>
        <p style="text-align: center; margin-top: 20px; font-size: larger;" name="help card links and forms">
            <a href="https://accessibility.dell.com/webinars/how-to-understand-the-wcag/"
                target="_blank">Web Content Accessibility Guidelines Explained
            </a>

            <span id="pipe">
                |
            </span>

            <a href="https://inside.dell.com/community/active/assistive-technology/pages/resources/"
                target="_blank"> Self-Serve Assistive Technology Training
            </a>
            
            <br>

            <a href="https://accessibility.dell.com/"
                target="_blank">Accessibility at Dell
            </a>

            <span id="pipe">
                |
            </span>

            <a href="https://accessibility.dell.com/guides-and-checklists/"
                target="_blank">Accessibility Guides & Checklists
            </a>

            <span id="pipe">
                |
            </span>

            <a href="https://accessibility.dell.com/webinars-and-videos/"
                target="_blank">Webinars & Videos
            </a>

        </p>
    </div>
</div>