<app-nav-bar></app-nav-bar>
<app-carousel></app-carousel>

<!-- <div class="float-container">
    <div class="float-child">
        <app-top-ten-accordion></app-top-ten-accordion>
    </div>
    <div class="float-child">
        <app-true-ability-erg-card></app-true-ability-erg-card>
    </div>
</div> -->

<div class="flex-container">

    <div class="flex-child">
        <app-top-ten-accordion></app-top-ten-accordion>
    </div>

    <div class="flex-child">
        <app-true-ability-erg-card></app-true-ability-erg-card>
    </div>

</div>

<app-footer-bar></app-footer-bar>