<div class="card" aria-label="True Ability ERG Card">
    <div class="card">
        <div class="card-header" aria-label="true ability Title">
            <label id="trueabilitylabel"> True Ability Employee Resource Group </label>
        </div>
        <img src="../../assets/img/ERG_Web+Banners+2020_TA_Final.jpg"
            style="margin-left: 5%;  width: 95%; height:80; align-self: inherit;">
        <p style="text-align: center; padding-left: 1%; padding-right: 1%; margin-top: 50px; font-size: larger;"
            name="true ability statement paragraph">The
            True Ability
            Employee Resource Group (ERG) is driving Dell
            to be a disability
            champion in both our
            workplace
            and
            community by empowering employees impacted with a disability, families who are faced with disabilities and
            friends of
            individuals impacted with disabilities.</p>

        <div class="flex-end">
            <form action="https://dell.diverst.com/" target="_blank">
                <button id="joinbutton">
                    Join Today
                </button>
            </form>
        </div>

    </div>
</div>