<!-- Image and text -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">

        <a class="navbar-brand" href="https://www.delltechnologies.com/en-us/utilities/global-site-selector.htm">
            <img src=".\assets\img\Dell_Logo_Blue_rgb.png" width="55" height="55">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="https://dell.service-now.com/hrportal">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://askjan.org/a-to-z.cfm">Reference</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-bs-toggle="dropdown"
                        aria-expanded="false">Help</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown03">
                        <li><a class="dropdown-item" href="https://accessibility.dell.com/">Accessibility at Dell
                            </a></li>
                        <li><a class="dropdown-item"
                                href="https://accessibility.dell.com/guides-and-checklists/">Accessibility Guides &
                                Checklists
                            </a></li>
                        <li><a class="dropdown-item" href="https://accessibility.dell.com/webinars-and-videos/">Webinars
                                & Videos</a></li>
                        <li><a class="dropdown-item"
                                href="https://accessibility.dell.com/webinars/how-to-understand-the-wcag/">Web Content
                                Accessibility Guidelines Explained</a></li>
                        <li><a class="dropdown-item"
                                href="https://inside.dell.com/community/active/assistive-technology/pages/resources/">
                                Self-Serve Assistive Technology Training</a></li>
                    </ul>
                </li>

            </ul>
            <form class="d-flex" action="https://inside.dell.com/search.jspa">
                <input class="form-control me-2" type="search" aria-label="Search" id="q" name="q">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>