/* button{
    color: #0076CE; 
    border-color: #0076CE;
}

button:hover{
    background-color:#0076CE ;
    border-color: #0076CE;
}  */

/* Style buttons */
.btn {
    /* padding-bottom: 30px; */
    
    outline: none;
    border: none; /* Remove borders */
    box-shadow: none !important;
    background-color: #f9fafb; /* Blue background */
    border-radius: 100px;
    color:#0076CE ; /* White text */
    cursor: pointer; /* Mouse pointer on hover */
 
}

/* Darker background on mouse-over */
.btn:hover {
    background-color: #0076CE;
    border: none; /* Remove borders */
    color:#f9fafb ;
    cursor: pointer; /* Mouse pointer on hover */
}

#search-icon{
    position: absolute; 
    margin-top: 10px;
    margin-left: 10px;   
}

#q {
    text-indent: 25px;
}