<div class="card" style="max-width: 45%; min-width: 30%; margin-left: 2%; margin-bottom: 10%;"
    aria-label="top 10 diverse abilities card">
    <div class="card">
        <div class="card-header" aria-label="top 10 Title">
            <label id="top10Label"> Top 10 Diverse Abilities </label>
        </div>
        <div class="card-body" aria-label="top 10 body">

            <div class="accordion" id="accordionExample" aria-label="top 10 accordion">

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            Deafness/Hearing Impairment
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body" aria-label="Deafness/Hearing Impairment accordion body">
                            <a
                                href="https://support.zoom.us/hc/en-us/articles/207279736-Managing-and-viewing-closed-captioning#h_4cb4e874-d574-4e40-ab12-7d8fae1f71cc">
                                <strong>Closed captions in Zoom</strong></a>
                            <br />Zoom can detect what’s said in a meeting and present real-time captions.<br />
                            <a
                                href="https://support.microsoft.com/en-us/office/use-live-captions-in-a-teams-meeting-4be2d304-f675-4b57-8347-cbd000a21260">
                                <strong>Closed captions in Microsoft Teams</strong></a>
                            <br />Microsoft Teams can detect what’s said in a meeting and present real-time
                            captions.<br />
                            <a
                                href="https://support.microsoft.com/en-us/topic/translate-text-into-a-different-language-287380e4-a56c-48a1-9977-f2dca89ce93f?ui=en-us&rs=en-us&ad=us">
                                <strong>Microsoft Translator</strong></a>
                            <br />Translate and caption live conversations in over 70 languages.<br />
                            <a
                                href="https://support.microsoft.com/en-us/windows/make-your-pc-easier-to-use-1c313f8f-8bc3-4e1c-c1c8-efe173a94845">
                                <strong>Windows Ease of Access</strong></a>
                            <br />Center brings together functionality for accessibility and ease of use to configure
                            your PC to suit your physical and cognitive needs.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Chronic Pain
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body" aria-label="Chronic Pain accordion body">
                            <a
                                href="https://support.microsoft.com/en-us/office/dictate-in-microsoft-365-eab203e1-d030-43c1-84ef-999b0b9675fe">
                                <strong>Dictate</strong></a>
                            <br />Speech-to-text in Microsoft Office using a microphone and reliable internet
                            connection.<br />
                            <a
                                href="https://support.microsoft.com/en-us/windows/make-your-pc-easier-to-use-1c313f8f-8bc3-4e1c-c1c8-efe173a94845">
                                <strong>Windows Ease of Access</strong></a>
                            <br />Center brings together functionality for accessibility and ease of use to configure
                            your PC to suit your physical and cognitive needs.<br />
                            <a
                                href="https://dell.service-now.com/sp?id=sc_cat_item&sys_id=2da66d591b2e68d0167b759d1e4bcb10">
                                <strong>Naturally Speaking</strong></a>
                            <br />Dictation software that converts speech to text, leveraging advanced Deep Learning
                            technology.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Colorblind/Color Vision Deficiency
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body" aria-label="Colorblind/Color Vision Deficiency accordion body">
                            <a
                                href="https://support.microsoft.com/en-us/windows/chapter-1-introducing-narrator-7fe8fd72-541f-4536-7658-bfc37ddaf9c6">
                                <strong>Windows Narrator</strong></a>
                            <br />Screen reader and text-to-speech feature in Windows 10.<br />
                            <a
                                href="https://support.microsoft.com/en-us/windows/use-magnifier-to-make-things-on-the-screen-easier-to-see-414948ba-8b1c-d3bd-8615-0e5e32204198">
                                <strong>Windows Magnifier</strong></a>
                            <br />Makes part or all of your screen bigger for word and image clarity.<br />
                            <a
                                href="https://support.microsoft.com/en-us/windows/use-color-filters-in-windows-10-43893e44-b8b3-2e27-1a29-b0c15ef0e5ce">
                                <strong>Dark Mode</strong></a>
                            <br />For those who find bright displays problematic, unlock Dark mode.<br />
                            <a
                                href="https://support.microsoft.com/en-us/topic/use-immersive-reader-in-microsoft-teams-a700c0d0-bc53-4696-a94d-4fbc86ac7a9a">
                                <strong>Immersive Reader</strong></a>
                            <br />Screen reading experience to increase readability of content.<br />
                            <a
                                href="https://support.microsoft.com/en-us/office/listen-to-your-word-documents-5a2de7f3-1ef4-4795-b24e-64fc2731b001">
                                <strong>Read Aloud</strong></a>
                            <br />Text-to-speech application that can read aloud web pages and documents.<br />
                            <a
                                href="https://support.microsoft.com/en-us/windows/make-your-pc-easier-to-use-1c313f8f-8bc3-4e1c-c1c8-efe173a94845">
                                <strong>Windows Ease of Access</strong></a>
                            <br />Center brings together functionality for accessibility and ease of use to configure
                            your PC to suit your physical and cognitive needs.<br />
                            <a href="https://inside.dell.com/community/active/assistive-technology/pages/resources">
                                <strong>NonVisual Desktop Access</strong></a>
                            <br />Screen Reader for Windows 10 and many third-party applications available in your
                            software center or intelligent hub. Just search “NVDA” to download.<br />
                            <a
                                href="https://dell.service-now.com/sp?id=sc_cat_item&sys_id=2da66d591b2e68d0167b759d1e4bcb10">
                                <strong>Natural Reader</strong></a>
                            <br />Text-to-speech (TTS) program that converts written text from multiple formats into
                            spoken words using a synthetic voice.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Paralysis
                        </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body" aria-label="Paralysis accordion body">
                            <a
                                href="https://support.microsoft.com/en-us/windows/chapter-1-introducing-narrator-7fe8fd72-541f-4536-7658-bfc37ddaf9c6">
                                <strong>Windows Narrator</strong></a>
                            <br />Screen reader and text-to-speech feature in Windows 10.<br />
                            <a
                                href="https://support.microsoft.com/en-us/office/listen-to-your-word-documents-5a2de7f3-1ef4-4795-b24e-64fc2731b001">
                                <strong>Read Aloud</strong></a>
                            <br />Text-to-speech application that can read aloud web pages and documents.<br />
                            <a
                                href="https://support.microsoft.com/en-us/office/dictate-in-microsoft-365-eab203e1-d030-43c1-84ef-999b0b9675fe">
                                <strong>Dictate</strong></a>
                            <br />Speech-to-text in Microsoft Office using a microphone and reliable internet
                            connection.<br />
                            <a
                                href="https://support.microsoft.com/en-us/windows/make-your-pc-easier-to-use-1c313f8f-8bc3-4e1c-c1c8-efe173a94845">
                                <strong>Windows Ease of Access</strong></a>
                            <br />Center brings together functionality for accessibility and ease of use to configure
                            your PC to suit your physical and cognitive needs.<br />
                            <a href="https://inside.dell.com/community/active/assistive-technology/pages/resources">
                                <strong>NonVisual Desktop Access</strong></a>
                            <br />Screen Reader for Windows 10 and many third-party applications available in your
                            software center or intelligent hub. Just search “NVDA” to download.<br />
                            <a
                                href="https://dell.service-now.com/sp?id=sc_cat_item&sys_id=2da66d591b2e68d0167b759d1e4bcb10">
                                <strong>Naturally Speaking</strong></a>
                            <br />Dictation software that converts speech to text, leveraging advanced Deep Learning
                            technology.<br />
                            <a
                                href="https://dell.service-now.com/sp?id=sc_cat_item&sys_id=2da66d591b2e68d0167b759d1e4bcb10">
                                <strong>Natural Reader</strong></a>
                            <br />Text-to-speech (TTS) program that converts written text from multiple formats into
                            spoken words using a synthetic voice.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading5">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                            Dyslexia
                        </button>
                    </h2>
                    <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body" aria-label="Dyslexia accordion body">
                            <a
                                href="https://support.microsoft.com/en-us/windows/chapter-1-introducing-narrator-7fe8fd72-541f-4536-7658-bfc37ddaf9c6">
                                <strong>Windows Narrator</strong></a>
                            <br />Screen reader and text-to-speech feature in Windows 10.<br />
                            <a
                                href="https://support.microsoft.com/en-us/office/listen-to-your-word-documents-5a2de7f3-1ef4-4795-b24e-64fc2731b001">
                                <strong>Read Aloud</strong></a>
                            <br />Text-to-speech application that can read aloud web pages and documents.<br />
                            <a
                                href="https://support.microsoft.com/en-us/office/dictate-in-microsoft-365-eab203e1-d030-43c1-84ef-999b0b9675fe">
                                <strong>Dictate</strong></a>
                            <br />Speech-to-text in Microsoft Office using a microphone and reliable internet
                            connection.<br />
                            <a
                                href="https://support.microsoft.com/en-us/windows/make-your-pc-easier-to-use-1c313f8f-8bc3-4e1c-c1c8-efe173a94845">
                                <strong>Windows Ease of Access</strong></a>
                            <br />Center brings together functionality for accessibility and ease of use to configure
                            your PC to suit your physical and cognitive needs.<br />
                            <a href="https://inside.dell.com/community/active/assistive-technology/pages/resources">
                                <strong>NonVisual Desktop Access</strong></a>
                            <br />Screen Reader for Windows 10 and many third-party applications available in your
                            software center or intelligent hub. Just search “NVDA” to download.<br />
                            <a
                                href="https://dell.service-now.com/sp?id=sc_cat_item&sys_id=2da66d591b2e68d0167b759d1e4bcb10">
                                <strong>Naturally Speaking</strong></a>
                            <br />Dictation software that converts speech to text, leveraging advanced Deep Learning
                            technology.<br />
                            <a
                                href="https://dell.service-now.com/sp?id=sc_cat_item&sys_id=2da66d591b2e68d0167b759d1e4bcb10">
                                <strong>Natural Reader</strong></a>
                            <br />Text-to-speech (TTS) program that converts written text from multiple formats into
                            spoken words using a synthetic voice.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading6">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                            Blindness/Low Vision
                        </button>
                    </h2>
                    <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="heading6"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body" aria-label="Blindness/Low Vision accordion body">
                            <a
                                href="https://support.microsoft.com/en-us/windows/chapter-1-introducing-narrator-7fe8fd72-541f-4536-7658-bfc37ddaf9c6">
                                <strong>Windows Narrator</strong></a>
                            <br />Screen reader and text-to-speech feature in Windows 10.<br />
                            <a
                                href="https://support.microsoft.com/en-us/windows/use-magnifier-to-make-things-on-the-screen-easier-to-see-414948ba-8b1c-d3bd-8615-0e5e32204198">
                                <strong>Windows Magnifier</strong></a>
                            <br />Makes part or all of your screen bigger for word and image clarity.<br />
                            <a
                                href="https://support.microsoft.com/en-us/windows/use-color-filters-in-windows-10-43893e44-b8b3-2e27-1a29-b0c15ef0e5ce">
                                <strong>Dark Mode</strong></a>
                            <br />For those who find bright displays problematic, unlock Dark mode.<br />
                            <a
                                href="https://support.microsoft.com/en-us/topic/use-immersive-reader-in-microsoft-teams-a700c0d0-bc53-4696-a94d-4fbc86ac7a9a">
                                <strong>Immersive Reader</strong></a>
                            <br />Screen reading experience to increase readability of content.<br />
                            <a
                                href="https://support.microsoft.com/en-us/office/listen-to-your-word-documents-5a2de7f3-1ef4-4795-b24e-64fc2731b001">
                                <strong>Read Aloud</strong></a>
                            <br />Text-to-speech application that can read aloud web pages and documents.<br />
                            <a
                                href="https://support.microsoft.com/en-us/office/dictate-in-microsoft-365-eab203e1-d030-43c1-84ef-999b0b9675fe">
                                <strong>Dictate</strong></a>
                            <br />Speech-to-text in Microsoft Office using a microphone and reliable internet
                            connection.<br />
                            <a
                                href="https://support.microsoft.com/en-us/windows/make-your-pc-easier-to-use-1c313f8f-8bc3-4e1c-c1c8-efe173a94845">
                                <strong>Windows Ease of Access</strong></a>
                            <br />Center brings together functionality for accessibility and ease of use to configure
                            your PC to suit your physical and cognitive needs.<br />
                            <a href="https://inside.dell.com/community/active/assistive-technology/pages/resources">
                                <strong>NonVisual Desktop Access</strong></a>
                            <br />Screen Reader for Windows 10 and many third-party applications available in your
                            software center or intelligent hub. Just search “NVDA” to download.<br />
                            <a
                                href="https://dell.service-now.com/sp?id=sc_cat_item&sys_id=2da66d591b2e68d0167b759d1e4bcb10">
                                <strong>JAWS (Jobs Access With Speech)</strong></a>
                            <br />Screen reader that provides speech and braille output for popular computer
                            applications.<br />
                            <a
                                href="https://dell.service-now.com/sp?id=sc_cat_item&sys_id=2da66d591b2e68d0167b759d1e4bcb10">
                                <strong>ZoomText</strong></a>
                            <br />Customizable screen magnification program that enlarges and enhances everything on
                            your computer screen.<br />
                            <a
                                href="https://dell.service-now.com/sp?id=sc_cat_item&sys_id=2da66d591b2e68d0167b759d1e4bcb10">
                                <strong>Braillenote Touch 32 Plus</strong></a>
                            <br />Braillenote touch that uses braille literacy combined with a traditional tablet.<br />
                            <a
                                href="https://dell.service-now.com/sp?id=sc_cat_item&sys_id=2da66d591b2e68d0167b759d1e4bcb10">
                                <strong>Focus 40 Blue</strong></a>
                            <br />The Focus 40 Blue is a durable, lightweight Braille Display that provides Braille
                            output from your computer.<br />
                            <a
                                href="https://dell.service-now.com/sp?id=sc_cat_item&sys_id=2da66d591b2e68d0167b759d1e4bcb10">
                                <strong>Naturally Speaking</strong></a>
                            <br />Dictation software that converts speech to text, leveraging advanced Deep Learning
                            technology.<br />
                            <a
                                href="https://dell.service-now.com/sp?id=sc_cat_item&sys_id=2da66d591b2e68d0167b759d1e4bcb10">
                                <strong>Natural Reader</strong></a>
                            <br />Text-to-speech (TTS) program that converts written text from multiple formats into
                            spoken words using a synthetic voice.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading7">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                            Attention Deficit/Hyperactivity Disorder (ADHD)
                        </button>
                    </h2>
                    <div id="collapse7" class="accordion-collapse collapse" aria-labelledby="heading7"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body"
                            aria-label="Attention Deficit/Hyperactivity Disorder (ADHD) accordion body">
                            <a
                                href="https://support.zoom.us/hc/en-us/articles/207279736-Managing-and-viewing-closed-captioning#h_4cb4e874-d574-4e40-ab12-7d8fae1f71cc">
                                <strong>Closed captions in Zoom</strong></a>
                            <br />Zoom can detect what’s said in a meeting and present real-time captions.<br />
                            <a
                                href="https://support.microsoft.com/en-us/windows/chapter-1-introducing-narrator-7fe8fd72-541f-4536-7658-bfc37ddaf9c6">
                                <strong>Windows Narrator</strong></a>
                            <br />Screen reader and text-to-speech feature in Windows 10.<br />
                            <a
                                href="https://support.microsoft.com/en-us/office/use-live-captions-in-a-teams-meeting-4be2d304-f675-4b57-8347-cbd000a21260">
                                <strong>Closed captions in Microsoft Teams</strong></a>
                            <br />Microsoft Teams can detect what’s said in a meeting and present real-time
                            captions.<br />
                            <a
                                href="https://support.microsoft.com/en-us/topic/use-immersive-reader-in-microsoft-teams-a700c0d0-bc53-4696-a94d-4fbc86ac7a9a">
                                <strong>Immersive Reader</strong></a>
                            <br />Screen reading experience to increase readability of content.<br />
                            <a
                                href="https://support.microsoft.com/en-us/office/dictate-in-microsoft-365-eab203e1-d030-43c1-84ef-999b0b9675fe">
                                <strong>Dictate</strong></a>
                            <br />Speech-to-text in Microsoft Office using a microphone and reliable internet
                            connection.<br />
                            <a
                                href="https://support.microsoft.com/en-us/windows/make-your-pc-easier-to-use-1c313f8f-8bc3-4e1c-c1c8-efe173a94845">
                                <strong>Windows Ease of Access</strong></a>
                            <br />Center brings together functionality for accessibility and ease of use to configure
                            your PC to suit your physical and cognitive needs.<br />
                            <a
                                href="https://dell.service-now.com/sp?id=sc_cat_item&sys_id=2da66d591b2e68d0167b759d1e4bcb10">
                                <strong>Naturally Speaking</strong></a>
                            <br />Dictation software that converts speech to text, leveraging advanced Deep Learning
                            technology.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading8">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                            Stuttering
                        </button>
                    </h2>
                    <div id="collapse8" class="accordion-collapse collapse" aria-labelledby="heading8"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body" aria-label="Stuttering accordion body">
                            <a
                                href="https://support.microsoft.com/en-us/windows/chapter-1-introducing-narrator-7fe8fd72-541f-4536-7658-bfc37ddaf9c6">
                                <strong>Windows Narrator</strong></a>
                            <br />Screen reader and text-to-speech feature in Windows 10.<br />
                            <a
                                href="https://support.microsoft.com/en-us/office/listen-to-your-word-documents-5a2de7f3-1ef4-4795-b24e-64fc2731b001">
                                <strong>Read Aloud</strong></a>
                            <br />Text-to-speech application that can read aloud web pages and documents.<br />
                            <a
                                href="https://dell.service-now.com/sp?id=sc_cat_item&sys_id=2da66d591b2e68d0167b759d1e4bcb10">
                                <strong>Natural Reader</strong></a>
                            <br />Text-to-speech (TTS) program that converts written text from multiple formats into
                            spoken words using a synthetic voice.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading8">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
                            Speech Language Impairment
                        </button>
                    </h2>
                    <div id="collapse9" class="accordion-collapse collapse" aria-labelledby="heading9"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body" aria-label="Speech Language Impairment accordion body">
                            <a
                                href="https://support.microsoft.com/en-us/windows/chapter-1-introducing-narrator-7fe8fd72-541f-4536-7658-bfc37ddaf9c6">
                                <strong>Windows Narrator</strong></a>
                            <br />Screen reader and text-to-speech feature in Windows 10.<br />
                            <a
                                href="https://support.microsoft.com/en-us/office/listen-to-your-word-documents-5a2de7f3-1ef4-4795-b24e-64fc2731b001">
                                <strong>Read Aloud</strong></a>
                            <br />Text-to-speech application that can read aloud web pages and documents.<br />
                            <a
                                href="https://support.microsoft.com/en-us/office/dictate-in-microsoft-365-eab203e1-d030-43c1-84ef-999b0b9675fe">
                                <strong>Dictate</strong></a>
                            <br />Speech-to-text in Microsoft Office using a microphone and reliable internet
                            connection.<br />
                            <a
                                href="https://support.microsoft.com/en-us/topic/translate-text-into-a-different-language-287380e4-a56c-48a1-9977-f2dca89ce93f?ui=en-us&rs=en-us&ad=us">
                                <strong>Microsoft Translator</strong></a>
                            <br />Translate and caption live conversations in over 70 languages.<br />
                            <a
                                href="https://dell.service-now.com/sp?id=sc_cat_item&sys_id=2da66d591b2e68d0167b759d1e4bcb10">
                                <strong>Natural Reader</strong></a>
                            <br />Text-to-speech (TTS) program that converts written text from multiple formats into
                            spoken words using a synthetic voice.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading8">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
                            Post-Traumatic Stress Disorder (PTSD)
                        </button>
                    </h2>
                    <div id="collapse10" class="accordion-collapse collapse" aria-labelledby="heading10"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body" aria-label="Post-Traumatic Stress Disorder (PTSD) accordion body">
                            <a
                                href="https://support.zoom.us/hc/en-us/articles/207279736-Managing-and-viewing-closed-captioning#h_4cb4e874-d574-4e40-ab12-7d8fae1f71cc">
                                <strong>Closed captions in Zoom</strong></a>
                            <br />Zoom can detect what’s said in a meeting and present real-time captions.<br />
                            <a
                                href="https://support.microsoft.com/en-us/windows/chapter-1-introducing-narrator-7fe8fd72-541f-4536-7658-bfc37ddaf9c6">
                                <strong>Windows Narrator</strong></a>
                            <br />Screen reader and text-to-speech feature in Windows 10.<br />
                            <a
                                href="https://support.microsoft.com/en-us/office/use-live-captions-in-a-teams-meeting-4be2d304-f675-4b57-8347-cbd000a21260">
                                <strong>Closed captions in Microsoft Teams</strong></a>
                            <br />Microsoft Teams can detect what’s said in a meeting and present real-time
                            captions.<br />
                            <a
                                href="https://support.microsoft.com/en-us/windows/use-color-filters-in-windows-10-43893e44-b8b3-2e27-1a29-b0c15ef0e5ce">
                                <strong>Dark Mode</strong></a>
                            <br />For those who find bright displays problematic, unlock Dark mode.<br />
                            <a
                                href="https://support.microsoft.com/en-us/office/dictate-in-microsoft-365-eab203e1-d030-43c1-84ef-999b0b9675fe">
                                <strong>Dictate</strong></a>
                            <br />Speech-to-text in Microsoft Office using a microphone and reliable internet
                            connection.<br />
                            <a
                                href="https://support.microsoft.com/en-us/windows/make-your-pc-easier-to-use-1c313f8f-8bc3-4e1c-c1c8-efe173a94845">
                                <strong>Windows Ease of Access</strong></a>
                            <br />Center brings together functionality for accessibility and ease of use to configure
                            your PC to suit your physical and cognitive needs.<br />
                            <a
                                href="https://dell.service-now.com/sp?id=sc_cat_item&sys_id=2da66d591b2e68d0167b759d1e4bcb10">
                                <strong>Naturally Speaking</strong></a>
                            <br />Dictation software that converts speech to text, leveraging advanced Deep Learning
                            technology.<br />
                            <a
                                href="https://dell.service-now.com/sp?id=sc_cat_item&sys_id=2da66d591b2e68d0167b759d1e4bcb10">
                                <strong>Natural Reader</strong></a>
                            <br />Text-to-speech (TTS) program that converts written text from multiple formats into
                            spoken words using a synthetic voice.
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>