
body {
    /* padding-top: 3rem; */
    /* padding-bottom: 3rem; */
    /* color: white; */
    /* background-color: white; */
    size: initial;
  }
  p{
    /* color: white; */
  }
  #company-name-and-terms{
    text-justify: auto;
    /* color: white; */
  }
  hr {
    /* color: white; */
  }
  a{
    /* color: white; */
    text-decoration: none;
  }