
body {

  /* color: white; */
    /* background-color: white; */
    max-height: 20px;
    min-height: 20px;
  }

  a{
    /* color: white; */
    text-decoration: none;
  }

  #company-name-and-terms{
   
    /* color: white; */
  }
  hr{
    margin-top: 90px;
    margin-bottom: 10px;
  }