
/* body { */

  /* color: white; */
    /* background-color: white; */
/* } */

  a{
    /* color: white; */
    text-decoration: none;
  }

  /* #company-name-and-terms{
   
    
  } */


  hr{
    margin-top: 90px;
    margin-bottom: 10px;
  }