
        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
                    aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
        
                <div class="carousel-item active">
                    <img src="../../assets/img/ladyinchair.jpg" style=" opacity: 0.45;">
                    <svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                        preserveAspectRatio="xMidYMid slice" focusable="false">
                        <rect width=" 100%" height="100%" fill="#777" />
                    </svg>
        
                    <div class="container">
                        <div class="carousel-caption text-start">
                            <h1 style="text-align: center;">Embrace your story</h1>
                            <p style="text-align: center;">because someday it will inspire others.</p>
                        </div>
                    </div>
                </div>
        
        
                <div class="carousel-item">
                    <img src="../../assets/img/people.jpg" style=" opacity: 0.45;">
                    <svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                        preserveAspectRatio="xMidYMid slice" focusable="false">
                        <rect width="100%" height="100%" fill="#777" />
                    </svg>
                    <div class="container">
                        <div class="carousel-caption">
                            <h1 style="font-size: large;">"Your present circumstances don't determine where you can go; they merely determine where you start."</h1>
                            <p>- Nido Qubein</p>
                        </div>
                    </div>
                </div>
        
        
                <div class="carousel-item">
                    <img src="../../assets/img/runningwoman.jpg" style=" opacity: 0.45;">
                    <svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                        preserveAspectRatio="xMidYMid slice" focusable="false">
                        <rect width="100%" height="100%" fill="#777" />
                    </svg>
        
                    <div class="container">
                        <div class="carousel-caption text-end">
                            <h1>"Believe you can and you're halfway there."</h1>
                            <p> - Theodore Roosevelt</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>